.header {
  box-sizing: border-box;
  min-height: 83px;
  border-bottom: 1px solid #070707;
  box-shadow: 0 1px 0 0 #171717;
  max-width: 880px;
}

@media screen and (min-width: 768px) {
  .header {
    min-height: 119px;
  }
}
